<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAftUXz9Q7n6iKaTC7cg-pGgKPZtNSNuxM</string>
	<key>GCM_SENDER_ID</key>
	<string>857427958225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bugIT-Task.BugIT</string>
	<key>PROJECT_ID</key>
	<string>bug-it-1d679</string>
	<key>STORAGE_BUCKET</key>
	<string>bug-it-1d679.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857427958225:ios:29a6bed0164e6d617028f0</string>
</dict>
</plist>